#page-teacher-list
{
    width: 100vw;
    height: 100vh;
}

#page-teacher-list #search-teachers
{
    margin-top: 3.2rem;
}

#page-teacher-list #search-teachers label
{
    color: var(--color-text-in-primary);
}

#page-teacher-list main
{
    margin: 3.2rem auto;
    width: 90%;
}

#page-teacher-list #search-teachers button
{
    width: 100%;
    height: 5.6rem;
    margin-top: 3.1rem;
    border-radius: 0.8rem;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    border: none;
    border: 2px solid rgb(148, 148, 148);
    background-color: var(--color-input-background);

}

#page-teacher-list #search-teachers button span
{
    width: 5.6rem;
    height: 5.6rem;

    border-top: 2px solid rgb(148, 148, 148);
    border-bottom: 2px solid rgb(148, 148, 148);

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-input-background);

    cursor: pointer;
}

@media(min-width: 700px)
{
    #page-teacher-list
    {
        max-width: 100%;
    }

    #page-teacher-list #search-teachers
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr auto;
        column-gap: 16px;
        position: absolute;
        bottom: -28px;
    }

    #page-teacher-list #search-teachers button
    {
        width: 5.6rem;
        height: 5.6rem;
        margin-top: 3.1rem;
        border-radius: 0.8rem;

        display: flex;
        align-items: center;
        justify-content: center;
    
        cursor: pointer;
        border: none;
        border: 2px solid rgb(148, 148, 148);
        background-color: var(--color-input-background);
    
    }
    
    #page-teacher-list #search-teachers button span
    {
        width: 5.6rem;
        height: 5.6rem;
    
        border-top: 2px solid rgb(148, 148, 148);
        border-bottom: 2px solid rgb(148, 148, 148);

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-input-background);
    
        cursor: pointer;
    }

    #page-teacher-list #search-teachers .input-block + .input-block
    {
        margin-top: 0;
    }

    #page-teacher-list main
    {
        padding: 3.2rem 0;
        max-width: 740px;
        margin: 0 auto;
    }
}
